<h2>Shelter</h2>
<ul>
  <li><a href="/shelters">Shelter 1</a></li>
  <li><a href="/shelters">Shelter 2</a></li>
  <li><a href="/shelters">Shelter 3</a></li>
  <li><a href="/shelters">Shelter 4</a></li>
</ul>
